In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./results-90.csv')

In [3]:
df.head()

             system      li      ui     p95  count
0  bookstore_nodejs  2099.0  2107.0  2099.5    970
1  bookstore_nodejs    14.0    15.0    14.0    971
2  bookstore_nodejs    18.0    18.0    18.0   1002
3  bookstore_nodejs   111.0   111.0   111.0   1440
4  bookstore_nodejs    15.0    15.0    15.0   1440

In [4]:
df.columns

Index(['system', 'li', 'ui', 'p95', 'count'], dtype='object')

In [5]:
df_bookstore = df[df.system == 'bookstore_nodejs']
print(df_bookstore.shape[0])
df_bookstore[df_bookstore['li'] <= df_bookstore['p95']][df_bookstore['ui'] >= df_bookstore['p95']].shape[0]

525

<ipython-input-5-c6238398a68e>:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_bookstore[df_bookstore['li'] <= df_bookstore['p95']][df_bookstore['ui'] >= df_bookstore['p95']].shape[0]

522

In [6]:
df_hub = df[df.system == 'muck_star-small']
print(df_hub.shape[0])
df_hub[df_hub['li'] <= df_hub['p95']][df_hub['ui'] >= df_hub['p95']].shape[0]

220

<ipython-input-6-5f9ecf7548d1>:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_hub[df_hub['li'] <= df_hub['p95']][df_hub['ui'] >= df_hub['p95']].shape[0]

214

In [7]:
import numpy as np
vals = []
for _, row in df_hub.iterrows():   
    if row.p95 <= row['ui'] and row.p95 >= row['li']: continue
    d1 = abs(row['ui'] - row.p95)
    d2 = abs(row['li'] - row.p95)
    d = min(d1,d2)
    vals.append(d/row.p95)
np.mean(vals)

0.04347705002348767

In [8]:
df_hub['count']

525     191
526     586
527     326
528     193
529     337
       ...
740     809
741     830
742    2498
743    1393
744     831
Name: count, Length: 220, dtype: int64