In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('./results.csv')

In [12]:
df.head()

            system       li       ui      p95   count
0  muck_star-small  18157.0  20041.0  16586.0      87
1  muck_star-small  17441.0  20052.0  17751.0      52
2  muck_star-small   3009.0   4803.0   3844.0      33
3  muck_star-small   7010.0  10679.0   6166.0      31
4  muck_star-small  18157.0  20041.0  16586.0      87

In [13]:
df.columns

Index(['system', ' li', ' ui', ' p95', ' count'], dtype='object')

In [6]:
df_bookstore = df[df.system == 'bookstore_nodejs']

In [16]:
print(df_bookstore.shape[0])
df_bookstore[df_bookstore['li'] <= df_bookstore['p95']][df_bookstore['ui'] >= df_bookstore['p95']].shape[0]

60

<ipython-input-16-326e6938cb62>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_bookstore[df_bookstore[' li'] <= df_bookstore[' p95']][df_bookstore[' ui'] >= df_bookstore[' p95']].shape[0]

50